<header>
    <nav>
        <div class="logo">
            {{ logoEmpresa() }}
        </div>
        <ul>
            <li routerLink="/" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">
                Pedidos vagas
            </li>
            <li routerLink="/form-vaga/:id" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">
                Formulário vagas
            </li>
            <li routerLink="/gestores" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">
                Gestores
            </li>
            <li routerLink="/departamentos" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">
                Departamentos
            </li>
        </ul>
    </nav>
</header>